body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  position: relative;
}

.scratch-image {
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1; /* Adjust opacity as needed */
}

body, html {
  font-family: 'Great Vibes', cursive;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #53efbe , #3b94ef);
}